apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: questify-argocd-config
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: questify

  source:
    repoURL: https://github.com/axelfrache/questify-gitops.git
    targetRevision: HEAD
    path: manifests/argocd

  destination:
    server: https://kubernetes.default.svc
    namespace: argocd

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
      - ServerSideApply=true
